@model IEnumerable<ShoppingCar.Models.Product>
@{
    ViewBag.Title = "產品列表";
}

<div>
    
    <div style=" font-style: italic; font-weight: bold; font-size: 60px; margin-top: 120px;
      padding: 0 20px; text-shadow: 5px 5px 5px #333; width: 100%; height: 320px; color: #CCC;">
       Hello ~ @ViewBag.Name <br/>歡迎光臨 !!
    <br />
    立德線上商城^_^
    </div>
</div>

